/* setting variables for repeated colors */
:root {
    --blue: rgb(107, 187, 214);
    --grey:  rgb(67, 71, 75);
    --darkb: rgb(31, 31, 71);
}

/* sets grid for entire page */
.wrapper{
    display: grid;
    grid-template-columns:1fr 2fr 2fr;
    grid-auto-rows: minmax(100px, auto);

}

   
/* grey box at top of page */
.box1{
    display:grid;
    grid-template:
    /* 'title ... ...' */
    'title ... ...'
    'title ... ...'
    'title ... navbar';
    background-color:var(--grey);
    grid-column-start:1;
    grid-column-end:5;
    grid-row:1/2;
    background-color:var(--grey);
    border:none;
}

/* Meghan Murphy box within box1 */
.title {
    background-color: var(--blue);
    color: var(--darkb);
    margin-top:5%;
    margin-bottom:5%;
    text-align:center;
    padding-top: 20px;
    font-size: 30px;
}

/* ul list in grey box */
.navbar{
    grid-area:navbar;
    margin-bottom:5px;
    
}

/* adding effects to li in grey box */
.navbar li{
    display: inline;
    border-bottom: 5px solid var(--blue);
    padding-left: 5%;
    padding-right: 5%;
    color: var(--blue);
   

}

/* gradient and layout for box2, navy gradient */
.box2{
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:2;
    grid-row-end:4;
    background-image: linear-gradient(to bottom right, var(--grey), var(--darkb), lavender);
    border:none;
    display:grid;
    grid-template:
    '... ... ... ... ...'
    '... ... ... ... ...'
    '... ... ... ... subtitle';
}

/* oval within blue gradient box */
#subtitle {
    background-color: var(--blue);
    grid-area:subtitle;
    margin-bottom:5px;
    font-size: 24px;
    text-align:center;
    border-radius:60%;
    margin-right: 10px;
    
    
}

/* side bar element About Me */
.box3 {
    grid-column:1;
    grid-row-start:4;
    grid-row-end:6;
    border-right: 5px solid var(--darkb);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5px;
    text-align: center;
    font-size: xx-large;
    
}

h1 {
    color: var(--darkb);
    margin-top: 25%;
}

.box4 p {
    color: var(--darkb);
    margin-top: 25%;
    font-size:medium;
}

/* Side bar element Work */
.box4{
    grid-column:1;
    grid-row-start:6;
    grid-row-end:11;
    border-right: 5px solid var(--darkb);
    margin-bottom: 5px;
    margin-right:5px;
    text-align: center;
    font-size: xx-large;
}

/* side bar element contact me */
.box5{
    grid-column:1;
    grid-row-start:11;
    grid-row-end:13;
    border-right: 5px solid var(--darkb);
    margin-bottom: 5px;
    margin-right:5px;
    text-align: center;
    font-size: xx-large;
}

/* first paragraph in about me*/
.box6 {
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:4;
    grid-row-end:5;
}

/* 2nd paragraph in about me */
.box7 {
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:5;
    grid-row-end:6;
}

/* personal photo space in the grid*/
.box8 {
    grid-column:3;
    grid-row-start:4;
    grid-row-end:6;
    border: 1px solid black;
    border-radius: 100%;
    margin-bottom:5px;
}


.self-port {
    height: 100%;
    width:100%;
    border-radius:100%;
}

/* box containing footer */
.box10{
    grid-column-start: 2;
    grid-column-end:5;
    grid-row-start:12;
    grid-row-end:13;
}

.footer li{
    display: inline;
    border-bottom: 5px solid var(--darkb);
    padding-left: 10px;
    padding-right: 10px;
    color: var(--darkb);
}

/* box containing all of the projects */
.box11 {
    grid-row-start:6;
    grid-row-end:11;
    grid-column-start:2;
    grid-column-end:5;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template: 
    'project1 project1'
    'project1 project1'
    'project2 project3'
    'project4 project5';
    grid-gap: 1em;
}

/* p represents each project within the box11 */
.p1 {
    grid-area: project1;
    border: 5px solid var(--blue);
    background: url(https://www.denverpost.com/wp-content/uploads/2019/06/TDP-L-SAND-DUNES-_HHR1128.JPG.jpg);
    background-size: cover;
}


.p2 {
    grid-area: project2;
    border: 5px solid var(--blue);
    background: url(https://pblog.thrifty.com/wp-content/uploads/2018/01/img-hero-OLYMPICNP.jpg);
    background-size: cover;
}

.p3 {
    grid-area: project3;
    border: 5px solid var(--blue);
    background: url(https://national-park.com/wp-content/uploads/2016/04/Welcome-to-Grand-Canyon-National-Park.jpg);
    background-size: cover;
}

.p4 {
    grid-area: project4;
    border: 5px solid var(--blue);
    background: url(https://cdn.getyourguide.com/img/location/5c88db055a755.jpeg/88.jpg);
    background-size: cover;
}

.p5 {
    grid-area: project5;
    border: 5px solid var(--blue);
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Black_Canyon_and_Gunnison_River_2008.jpg/1200px-Black_Canyon_and_Gunnison_River_2008.jpg);
    background-size:cover;
}


/* each project now became a container with a grid within */
.works{
    display:grid;
    grid-template-columns:1fr 3fr 3fr 3fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template: 
    '... ... ... ...'
    '... ... ... ...'
    'label ... ... ...';
    grid-gap:1em;
}

/* this edits the a tag within the works class which then designs the label to 
look nice and also act as a link to send you somewhere else */
.works a {
    grid-area: label;
    background-color: var(--blue);
    margin-bottom: 1em;
    text-decoration: none;
    color:var(--darkb);
}


/* all the projects share a work class which allows for styling */
.works:hover{
    cursor:pointer;
    border: 5px solid var(--darkb);
}

/* adds changes to navbar upon hover */
.navbar li:hover {
    cursor:pointer;
    border-bottom: 5px solid var(--darkb);
}

/* adds changes to footer upon hover */
.footer li:hover {
    cursor:pointer;
    border-bottom: 5px solid var(--blue);
}

/* gets rid of the link decoration that comes with an a tag */
.navbar a {
    text-decoration: none;
    color: var(--blue);
}

.footer a {
    text-decoration: none;
    color: var(--darkb);
}

/* make navbar and footer display vertically  */
@media only screen and (max-width:992px) {
    .navbar li {
        display: block;
    }

    .footer li {
        display: block;
        
    }
}
