/* setting variables for repeated colors */
:root {
    --blue: rgb(107, 187, 214);
    --grey:  rgb(67, 71, 75);
    --darkb: rgb(31, 31, 71);
}


.wrapper{
    display: grid;
    grid-template-columns:1fr 2fr 2fr;
    grid-auto-rows: minmax(100px, auto);
    /* justify-items:start; */
    /* align-items:start; */
}


.wrapper > div {
    /* border: 1px solid black; */
    
}
   

.box1{
    display:grid;
    grid-template:
    'title navbar';
    background-color:var(--grey);
    grid-column-start:1;
    grid-column-end:5;
    grid-row:1/2;
    margin-top: -1%;
    margin-right: -.75%;
    margin-left:-.75%;
    background-color:var(--grey);
    border:none;
}

.title {
    background-color: var(--blue);
    color: var(--darkb);
    margin-top:5%;
    margin-bottom:5%;
    text-align:center;
    padding-top: 20px;
    font-size: 30px;
}

.navbar {
    position:relative;
}

.navbar li{
    display:inline;
    border-bottom: 5px solid var(--blue);
    padding-left: 5px;
    padding-right: 5px;
    color: var(--blue);
    position:absolute;
    bottom: 0;
}

.box2{
    /* align-self:end; */
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:2;
    grid-row-end:4;
    padding: 0px;
    margin-left: -.75%;
    margin-right: -.75%;
    background-image: linear-gradient(to bottom right, var(--darkb), lavender);
    border:none;
    display:grid;
    grid-template:
    '... ... ...'
    '... ... ...'
    '... ... subtitle';
}


#subtitle {
    background-color: var(--blue);
    grid-area:subtitle;
    margin-bottom:5px;
    font-size: 24px;
    text-align:center;
    border-radius:60%;
    
}
.box3 {
    /* justify-self:end; */
    grid-column:1;
    grid-row-start:4;
    grid-row-end:6;
    margin-left: -4%;
    border: 1px solid black;
}

.box4{
    grid-column:1;
    grid-row-start:6;
    grid-row-end:11;
    margin-left: -4%;
    border: 1px solid black;
}

.box5{
    grid-column:1;
    grid-row-start:11;
    grid-row-end:13;
    margin-left: -4%;
    margin-bottom:-3%;
    border: 1px solid black;
}

.box6 {
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:4;
    grid-row-end:5;
    border: 1px solid black;
}

.box7 {
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:5;
    grid-row-end:6;
    border: 1px solid black;
}

.box8 {
    grid-column:3;
    grid-row-start:4;
    grid-row-end:6;
    margin-right: -2%;
    border: 1px solid black;
}

.box10{
    grid-column-start: 2;
    grid-column-end:5;
    grid-row-start:12;
    grid-row-end:13;
    border: 1px solid black;
}
